include ../includes/myvar.pug
include ../includes/mymixin.pug
doctype 
html(lag='en') 
	head 
		meta(charset='utf-8')
		meta(name='description' content='Learn pugjs')
		block pageTitle
			title abet (v)
		include  ../includes/styles.pug
		link(rel="stylesheet", href="36-before,after,content - Copy.css")
	body
		block pageContent 
			#clockrdy
				span(id="clock" style="color: red; top:70px")
					img(class="img-circle" src="../../../images/rose/r.jpg" height="30px" width="30px" )
			.parent
				.user t
				.one
					|to keep oneself from drinking, voting to keep oneself from drinking, votingto keep oneself from drinking, votingto keep oneself from drinking, votingto keep oneself from drinking, voting 
					span(class ="pipline") 
			.parent
				.user t
				.one
					|o abstract the most important points from a long report to abstract the most important points from a long report to abstract the most important points from a long report
					span(class ="pipline")  
			.parent
				.user H
				.one
						|e would not abase himself by showing fear He would not abase himself by showing fear He would not abase himself by showing fear He would not abase himself by showing fear He would not abase himself by showing fear He would not abase himself by showing fear 
						span(class ="pipline") 
			.parent
				.user T
				.one
						|he ship waited in the harbour untilthe storm abated The ship waited in the harbour untilthe storm abated The ship waited in the harbour untilthe storm abated The ship waited in the harbour untilthe storm abated The ship waited in the harbour untilthe storm abated
						span(class ="pipline") 
			include ../includes/scripts.pug