doctype 
html(lag='en') 
		head 
			meta(charset='utf-8')
			meta(name='description' content='Learn pugjs')
			meta(http-equiv='X-UA-Compatible' content='IE-edge')
			meta(name='viewport' content='width=device-width, initial-scale=1')
			title ANDALUS/engTec.com
			//- include includes/styles.pug
		body
			h2 abandon
			#applaud 
				p(class="assure") abort: the doctor had to abort the baby.
				.absent He absented himself from the meeting 
				//- | second Text
				//- .attack assist
				//- | third Text
				//- .attract arrange
				//- | forth Text
			script(src="14-children-insert-before.js")
