//- include includes/myvar.pug
//- include includes/mymixin.pug
doctype
html
    head
        meta(charset='utf-8')
        title rotated card
        //- include includes/styles.pug
        link(rel="stylesheet", href="card.css")
    body
        //- start Header
        //- #clockrdy
        .card
            .front
                header
                    img(src="r.jpg" alt="avatar")
                h3 engrdy
                p rady hasan is a civil engineer, sohag, egypt
                span Hover to see data
            .back 
                ul 
                    li Facebook eng rady hassan
                    li Twitter eng rady 
                    li youtube engTec
                    li github engrhassan
        //- include includes/scripts.pug
        //- engrdy@engrdy:/media/engrdy/zero/github2021/html/responsevesite$ pug index.pug -w -P
        
