doctype 
html(lag='en') 
		head 
			meta(charset='utf-8')
			meta(name='description' content='Learn pugjs')
			meta(http-equiv='X-UA-Compatible' content='IE-edge')
			meta(name='viewport' content='width=device-width, initial-scale=1')
			title ANDALUS/engTec.com
			//- include includes/styles.pug
		body
			h2 abandon
			#applaud 
				p(class="abound") abort: the doctor had to abort the baby.
				| abstain :to keep someone from voting, drinking
				.absent He absented himself from the meeting
				|abstract: to abstract the most important points from a long report
				p(class="assure") absorb: the walls of the house absorb heat during the day .
				| abuse : to say cruel or rude things
				//- | second Text
				//- .attack assist
				//- | third Text
				//- .attract arrange
				//- | forth Text
			script(src="15-children-remove-child.js")
