extends index

block pageTitle
			title about me
//- block append pageInfo 
append pageInfo 
	.appended About Page Content
//- block prepend pageInfo 
prepend pageInfo 
	.prepended About Page Content
block pageContent 
	.about-us 
		.container
			p.about from about page