mixin skillist 
	ul.list-unstyled 
		li py 
		li kivy 
		li tkinter
		li YII frame work
		li this #{themeName} theme

mixin feature(featName) 
	div(class= 'feats', style='color: red')= featName