/*------------------------------*/
$arfont: "Droid Arabic Kufi", serif;
$enfont: "Tahoma Arial";
/*------------------------------*/
$bcolor : #2980b9;
$bacolor : blue;
$bbcolor: navy;/*#000080*/
$bccolor: cyan;/*#00FFFF*/
$bdcolor: skyblue;/*#87CEEB*/
$becolor: Teal;/*#008080*/
$bfolor: green;
$bgcolor: yellowgreen;/*#9ACD32*/
$bhcolor: Powderblue;/*B0E0E6*/
$bicolor: lightcyan;/*E0FFFF*/
$bjcolor: AZURE;/*F0FFFF*/
/*--------------------------*/
$color : red;
$acolor: Brown;/*#A52A2A*/
$bcolor: Violet;/*F5DEB3*/
$ccolor: Chocolate;/*#D2691E*/
$ecolor: #d35400;
$dcolor: magenta;/*#*/
$ecolor: #F7600e;
$fcolor: coral;/*FF7F50*/
$gcolor: Orange;/**/
$hcolor: yellow;/*#*/
$icolor: wheat;/*F5DEB3*/
$jColor: Beige;/*#F5F5DC*/
/*--------------------------*/
$sz:10px;
$wdth: 100%;
$nofElmnt: 4 ;
$grdNo: 12;
$full:100px;
/*---------------------------*/
$drtion: rtl;
$flotlft: left;
$flotrit: right;
@if $drtion == ltr {
    $flotlft: left;
    $flotrit: right;
}@else{
    $flotlft: right;
    $flotrit: left;
}
/*==================*/
// @import "_home3.scss";
// @import "_home4.scss";
// @import "home5.scss";
/*--------------------------*/
$prope01 :font;
$prope02 :size;
/*---------------------*/
@mixin brdrdus($r) {
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    -o-border-radius: $r;
    -ms-border-radius: $r;
    border-radius: $r;
}
%cover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
%transision {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

// $sociallist:facebook twitter youtube instgram linkedin codepen;
// @each $social,$color,$hover in {
//     (facebook , $acolor, $bacolor),
//     (twitter , $bcolor, $bbcolor),
//     (youtube, $ccolor, $bccolor),
//     (instgram, $dcolor, $bdcolor),
//     (codepen, $ecolor, $becolor)
//  {}

$x: 12;
@while $x > 0 {
  .col-#{$x} {
    width: (100/(12/$x));
  }
  $x: $x - 1;
}
%grid{
    float: left;
    padding: ($sz)-(1);
    background-color: $becolor;
    border: 1px solid $bbcolor;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
  @for $i from 1 through $grdNo {
    .col-#{$i}{
        width: ($wdth /($grdNo/$i));
        @extend %grid;
        font-size: $sz+$i;
    }
  }

@for $i from 1 through 10 {
    .class#{$i}
{
    font-size: $sz+$i;
    }}
@for $i from 1 to 10 {
    .class#{$i}
    {
    font-size: $sz+2*$i;
    }
}

$maprdy:(h1:50px, h2:40px, h3:30px, h4:20px, h5:10px, h6:5px); 
@each $keyrdy,$valrdy in $maprdy {
  #{$keyrdy} {
//   font-size: $valrdy + $text;
  font-size: 2*$sz;
  }
}
$myelement:(defp:50px, enp:40px, arp:30px, cutp:20px); 

@each $elm,$font in $myelement {
  .#{$elm} {
//   font-size: $font + $text;
  font-size: 18px;
  }
}
@function incFont($ele) {
    $font: 16px;
    $result:0;
    @if $ele > $font {
      $result:50 px;
    }@else{
      $result:5 px;
    }
    @return $result;
  }
/*start navbar*/
.navbar{
    border-radius: 0;
    padding-bottom: 20px;
    border-bottom: 20px;
    margin-bottom: 20px;
    height: 10px;
} 
/*end navbar*/
/* Start pagination-numbers */
.pagination-numbers {
    margin: 5px auto 25px;
    font-family: Tahoma, Arial;
    font-size: 16px;
    .page-numbers {
        display: inline-block;
        background-color: #8e8e8e;
        color: #FFF;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        &:hover{
            text-decoration: none;
            background-color: #2980b9;
        }
        &.current{
            border-radius: 50%;
            background-color: #2980b9;
            font-size: larger;
        }   
    }
}
/* End pagination-numbers */
/*start posts*/
/*start main-post*/
.home-page {
    .main-post{
        /* height: 660px; */
        padding: 10px;
        background-color: #FFF;
        border: 1px solid #d8d8d8;
        margin-bottom: 10px;
        h3 {
            margin: 0 0 10px;
            font-weight: bold;
            color: #777;
            letter-spacing: -1px;
        }
        .post-author,
        .post-date,
        .post-comments{
            font-size: 12px;
        }
        img{
            display: block;
            margin: 10px 0 10px;
        }
        .post-content{
            line-height: 1.7;
            /* color: #888; */
        }
        i{
            color: #999;
        }
    }
/*end main-posts*/
/*start post-pagination*/
    .post-pagination {
        margin: 0 auto 30px;
        overflow: hidden;
        text-align: center;
        a ,
        span {
            /* display: inline-block; */
            padding: 10px 20px;
            background-color: #FFF;
            border-radius: 5px;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
        a:first-child,
        span:first-child {
            float: left;
            margin-left: 15px;
        }
        a:last-child,
        span:last-child {
            float: right;
            margin-right: 15px;
        }
        span {
            opacity: .5;
            cursor: not-allowed
        }
        .fa-chevron-left {
            margin-right: 10px;
        }
        .fa-chevron-right {
            margin-left : 10px;
        }
        a:hover {
            background-color: #00F;
            color: #FFF;
            text-decoration: none;
        }
    }
}
/*end post-pagination*/
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/*start category-page*/
.category-information {
    background-color: #FFF;
    margin: 25px 15px;
    border: 1px solid #d8d8d8;

    h1{
        margin: 20px 0;
        font-weight: bold;
        color: #9c9c9c;
    }
    .category-description p {
        font-size: 18px;
        color: #777;
        line-height: 40px;
        margin: 0;
    }
    .cat-stats{
        line-height: 25px;
        color: #cd60f8;
    }
}
/*End category-page*/
/*Start linux-category*/
.linux-category {
    .post-title {
    margin-top: 30px !important
    }
    .post-content {
        margin-top: 8px;
    }
}
.sidebar-linux {
     .widget {
    background-color: #FFF;
    border: 1px solid #d8d8d8;
    margin-bottom: 15px;
    .widget-title {
        margin: 0;
        padding: 10px;
        background-color: #42a4d0;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
    }
    .widget-content {
        padding: 10px;
        color: #969696;
    }
}

/*End linux-category*/
/*start single-posts*/
.post-page {
    background: #0FF; 
    .bypostauthor {
        position: relative;
    }
    &:after {
        content: 'Author';
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        font-weight: bold;
        color: #dcdcdc;
    }
    .main-post{
        position: relative;
        padding: 20px;
        background-color: #FFF;
        border: 1px solid #d8d8d8;
        margin-bottom: 20px;
        h3{
            margin: 0 0 10px;
            font-weight: bold;
            color: #777;
            letter-spacing: -1px;  
        }
        .post-edit-link {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            background-color: #EEE;
            border-radius: 0 0 0 10px;
            i {
                color: #337ab7;
                margin-left: 5px;
            }
        }
        .post-author,
        .post-date,
        .post-comments{
            font-size: 12px;
        }
        img{
            /* height: 710px; */
            /* width: 1000px; */
            display: block;
            margin: 10px 0 10px;
            }
        .post-content{
            line-height: 1.8;
            color: #888;
        }
        i{
            color: #999;
        }
    }
        
/*end single-posts*/
/*start post-pagination*/
    .post-pagination {
        margin: 0 auto 30px;
        overflow: hidden;
        text-align: center;
        a ,
        span {
            /* display: inline-block; */
            padding: 10px 20px;
            background-color: #FFF;
            border-radius: 5px;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
        a:first-child,
         span:first-child {
            float: left;
            /* margin-left: 15px; */
        }
        a:last-child,
        &:last-child {
            float: right;
            /* margin-right: 15px; */
        }
         span {
            opacity: .5;
            cursor: not-allowed
        }
        .fa-chevron-left {
            margin-right: 10px;
        }
        .fa-chevron-right {
            margin-left : 10px;
        }
        a:hover {
            background-color: #00F;
            color: #FFF;
            text-decoration: none;
        }
    }
    .comment-separator {
        margin-bottom: 15px;
        margin-top: 15px;
        /* color: #FFF; */
        border-bottom: 4px dashed #dcdcdc;
    }
}
/* bypostauthor */

/*end single posts*/
/*end posts*/
/* ********************************************************************************* */
.my-author {
    background: #0FF;
    h4 {
        margin: 12px 0 10px 0;
        font-weight: bold;
        color: #676767;
        font-size: 22px;
        .nickname{
            color: hsl(46, 82%, 35%);
        }
    }
}
.author-des {
font-size: 12px;
/* line-height: 1.5; */
color: #777;

}
.author-status {
    font: 1.2em sans-serif;
}
/* ********************************************************************************* */

.comments-count {
    padding: 20px;
    background-color: #e2e2e2;
    font-size: 24px;
    margin-top: 0;
    font-weight: bold;
    color: #909090;
    border: 1px solid #dedede;
}
/*start comments-list*/
.comments-list{
    ul,
    ol{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .comment {
        img  {
            padding: 3px;
            border: 1px solid #CCC;
            background-color: #FFF;
            margin-bottom: 5px;
            margin-right: 5px;
        }
        .comment-meta {
            font-size: 12px;
            color: #777;
            margin-top: 5px;
        }
        p  {
            margin-top: 8px;
            color: #6f6f6f;
        }
        .says  {
            display: none;
        }
    }
}
.comments-list > {
    .comment  { /* Level 1 selector*/
        background-color: #FFF;
        padding: 10px;
        border: 1px solid #DDD;
        margin-bottom: 15px;
        &> .children  > {
            .comment  { /* Level 2 selector*/
                padding: 10px;
                background-color: #f7f7f7;
                margin-top: 10px;
                border: 1px solid #e4e4e4;
                .comment  { /* Level 3 selector*/
                    padding: 10px;
                    background-color: #ececec;
                    margin-top: 10px;
                    border: 1px solid #cecece;
                }
            }   
        }
    }
}
.comment-respond {
    .comment-reply-title {
        font-weight: bold;
        color: #9a9a9a;
        text-align: center;
        background-color: #e3e3e3;
        padding: 15px;
        & ~ form{
            background-color: #e3e3e3;
            padding: 15px;
            margin-bottom: 10px;
        }
    }
    .logged-in-as {
        margin: 0 5px 10px;
    }
    label {
        display: block;
        color: #888;
        margin: 0 0 10px 6px;
    }
    input[type="text"] ,
    textarea {
        height: 40px;
        width: 500px;
        max-width: 100%;
        padding: 10px;
        border: 1px solid #CCC;
        border-radius: 5px;
    }
    textarea {
        height: 200px;
        resize: none;
    }
    input[type="submit"] {
        margin-top: 6px;
    }
}
/*end comments-list*/
/* start author page */
.author-page {
    background:aquamarine;
    .profile-header{
        font-size: 60px;
        margin: 30px 0;
        color: #666;
        font-weight: bold;
        letter-spacing: -3px;
    }
    .author-main-info {
        background-color: #FFF;
        padding: 40px 20px;
        font-size: 18px;
        border: 1px solid #dedede;
        margin-bottom: 20px;
        .author-names {
            line-height: 1.5;
            color: #666;
            margin-top: 10px;
            span{
                display: inline-block;
                min-width: 120px;
            }
        }
        hr {
            margin: 10px;
        }
        p {
            color: #777;
            line-height: 1.6;
            letter-spacing: 1px;
            margin-bottom: 0;
        }
    }
    .author-stats {
        .stats{
        background-color: #FFF;
        padding: 20px;
        font-size: 14px;
        border: 1px solid #dedede;
        margin-bottom: 20px;
        text-align: center;
            span{
                display: block;
                font-size: 50px;
                margin-top: 10px;
            }
        }
    }
    .author-posts-title {
        margin: 0 0 20px;
        background-color: #e2e2e2;
        padding: 20px 30px;
        font-weight: bold;
        color: #717171;
    }
    .author-posts {
        padding: 20px;
        background-color: #FFF;
        overflow: hidden;
        margin-bottom: 20px;
        border: 1px solid #e4e4e4;
        h3 {
            margin: 10px 0 5px;
            font-weight: bold;
        }
        .post-date,
        .post-content{
            font-size: 12px;
            color: #888;
        }
        .post-content{
            color: #6b6b6b;
            margin-top: 5px;
            p {
                margin: 0;
            }
        }
        /* End content */
        /* ------------------------------------------------------- */
        /* Start comment */
        .author-comments {
            padding: 10px 20px;
            background-color: #FFF;
            margin-bottom: 15px;
            border: 1px solid #e4e4e4;
            h3 {
                margin: 5px 0;
            }
            .post-date{
                font-size: 12px;
                color: #888;
            }
            .post-content{
                color: #6b6b6b;
                margin-top: 5px;
                p {
                    margin: 0;
                }
            }
        }
    }
}
/* End comment */
/* End author page */
/* Start 404 */
.page-not-found {
    img{
    margin-top: 50px;
    h1 {
        font-weight: bold;
        font-size: 70px;
    color: #777;
    letter-spacing: -3px;
    margin-bottom: 20px;
    }
    .lead{
        font-size: 35px;
        color: #909090;
        font-weight: bold;
        letter-spacing: -1px;
        margin-bottom: 40px;
    }
}
/* End 404 */


/*start breadcrumb*/
.breadcrumbs-holder {
    background-color: #f5f5f5;
    margin-bottom: 10px;
    .breadcrumb {
        margin-bottom: 0;
        padding: 15px;
    }
}
/*End breadcrumb*/
/*start footer*/
.footer {
    background-color: #00F;
    color: #0FF;
    padding: 20px;
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
    /* width: 100%;     */
    }
/*end footer*/