doctype 
html(lag='en') 
		head 
			meta(charset='utf-8')
			meta(name='description' content='Learn pugjs')
			meta(http-equiv='X-UA-Compatible' content='IE-edge')
			meta(name='viewport' content='width=device-width, initial-scale=1')
			title ANDALUS/engTec.com
			//- include includes/styles.pug
		body(style="overflow: auto")
			#applaud first Text
				h2 abandon
				p(class="assure") argue 
				| second Text
				.attack assist
				| third Text
				.attract arrange
				| forth Text
			script(src="12-children,first,last.js")
