/*------------------------------*/
/*------------------------------*/
/*#000080*/
/*#00FFFF*/
/*#87CEEB*/
/*#008080*/
/*#9ACD32*/
/*B0E0E6*/
/*E0FFFF*/
/*F0FFFF*/
/*--------------------------*/
/*#A52A2A*/
/*F5DEB3*/
/*#D2691E*/
/*#*/
/*FF7F50*/
/**/
/*#*/
/*F5DEB3*/
/*#F5F5DC*/
/*--------------------------*/
/*---------------------------*/
/*---------------------*/
.header .navbar {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .navbar {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  padding: 9px;
  background-color: Teal;
  border: 1px solid navy;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col-1 {
  width: 8.33333%;
  font-size: 11px;
}

.col-2 {
  width: 16.66667%;
  font-size: 12px;
}

.col-3 {
  width: 25%;
  font-size: 13px;
}

.col-4 {
  width: 33.33333%;
  font-size: 14px;
}

.col-5 {
  width: 41.66667%;
  font-size: 15px;
}

.col-6 {
  width: 50%;
  font-size: 16px;
}

.col-7 {
  width: 58.33333%;
  font-size: 17px;
}

.col-8 {
  width: 66.66667%;
  font-size: 18px;
}

.col-9 {
  width: 75%;
  font-size: 19px;
}

.col-10 {
  width: 83.33333%;
  font-size: 20px;
}

.col-11 {
  width: 91.66667%;
  font-size: 21px;
}

.col-12 {
  width: 100%;
  font-size: 22px;
}

.class1 {
  font-size: 11px;
}

.class2 {
  font-size: 12px;
}

.class3 {
  font-size: 13px;
}

.class4 {
  font-size: 14px;
}

.class5 {
  font-size: 15px;
}

.class6 {
  font-size: 16px;
}

.class7 {
  font-size: 17px;
}

.class8 {
  font-size: 18px;
}

.class9 {
  font-size: 19px;
}

.class10 {
  font-size: 20px;
}

.class1 {
  font-size: 12px;
}

.class2 {
  font-size: 14px;
}

.class3 {
  font-size: 16px;
}

.class4 {
  font-size: 18px;
}

.class5 {
  font-size: 20px;
}

.class6 {
  font-size: 22px;
}

.class7 {
  font-size: 24px;
}

.class8 {
  font-size: 26px;
}

.class9 {
  font-size: 28px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 20px;
}

.defp {
  font-size: 18px;
}

.enp {
  font-size: 18px;
}

.arp {
  font-size: 18px;
}

.cutp {
  font-size: 18px;
}

.class1 {
  border-radius: 25px;
  font-size: 15px;
  background-color: blue;
  width: 25%;
  float: left;
}

.parent {
  font-size: 15px;
  background: url("../../../../tools/images/r.jpg");
  border-radius: 30px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/D\:\/developement\/zero\/CSS\/SassZero\/projSass\/scss\/home\.scss;
  }
  line {
    font-family: \000037;
  }
}

.class1 {
  color: blue;
  font-size: 20;
  font-weight: bold;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/D\:\/developement\/zero\/CSS\/SassZero\/projSass\/scss\/home\.scss;
  }
  line {
    font-family: \0000312;
  }
}

.class2 {
  background-color: green;
  font-size: 20;
  font-weight: bold;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/D\:\/developement\/zero\/CSS\/SassZero\/projSass\/scss\/home\.scss;
  }
  line {
    font-family: \0000317;
  }
}

.class3 {
  background-color: cyan;
  font-size: 20;
  font-weight: bold;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/D\:\/developement\/zero\/CSS\/SassZero\/projSass\/scss\/home\.scss;
  }
  line {
    font-family: \0000322;
  }
}

.parent {
  background-color: green;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/D\:\/developement\/zero\/CSS\/SassZero\/projSass\/scss\/home\.scss;
  }
  line {
    font-family: \0000324;
  }
}

.parent .class1 {
  color: magenta;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/D\:\/developement\/zero\/CSS\/SassZero\/projSass\/scss\/home\.scss;
  }
  line {
    font-family: \0000327;
  }
}

.parent .class2 {
  color: yellow;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/D\:\/developement\/zero\/CSS\/SassZero\/projSass\/scss\/home\.scss;
  }
  line {
    font-family: \0000330;
  }
}

.parent:hover {
  background: blue;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/D\:\/developement\/zero\/CSS\/SassZero\/projSass\/scss\/home6\.scss;
  }
  line {
    font-family: \000031;
  }
}

.col-12 {
  width: 100;
}

.col-11 {
  width: 91.66667;
}

.col-10 {
  width: 83.33333;
}

.col-9 {
  width: 75;
}

.col-8 {
  width: 66.66667;
}

.col-7 {
  width: 58.33333;
}

.col-6 {
  width: 50;
}

.col-5 {
  width: 41.66667;
}

.col-4 {
  width: 33.33333;
}

.col-3 {
  width: 25;
}

.col-2 {
  width: 16.66667;
}

.col-1 {
  width: 8.33333;
}

* {
  -webkit-box-sizing: border-box;
  --mozbox-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 40px;
  font-family: "Tahoma Arial";
  background: Teal;
  direction: ltr;
  color: blue;
  width: 1000px;
}

.container {
  width: 1200px;
  margin: 20px auto;
  background: lightcyan;
  position: relative;
}

.header {
  border-radius: 7px;
  background: Powderblue;
  color: wheat;
  min-height: 100px;
  background-size: cover;
  overflow: hidden;
}

.header .navbar {
  overflow: hidden;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: yellow;
  width: 80%;
  float: left;
}

.header .navbar ul {
  margin: 50px 50px 0 0;
  font-weight: bold;
  font-size: 18px;
}

.header .navbar ul li {
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

.header .navbar .logo {
  font-size: 24px;
  width: 20%;
  float: right;
}

.header .navbar .logo img {
  height: 100px;
  margin: 20px;
}

.header .navbar .links {
  float: right;
}

.header .navbar .links i {
  margin-left: 5px;
}

.main, .class1 {
  font-size: 15px;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  background: 1px solid lightcyan;
}

.table {
  height: 100%;
  display: table;
}

/*Start Content*/
.content {
  min-height: 500px;
  background: cyan;
  overflow: hidden;
}

.content .sidebar {
  float: right;
  width: 25%;
  margin-left: 1%;
  height: 500px;
}

.content .sidebar .widget {
  width: 90%;
  background: #fff;
  border: 1px solid cyan;
  margin: 10px auto;
}

.content .sidebar .widget .title {
  background: cyan;
  color: #FFF;
  padding: 5px 0;
  text-align: center;
}

.content .sidebar .widget .data {
  text-align: center;
  padding: 5px 0;
}

.content .sidebar .widget .data img {
  /*padding-right: :10PX 0;*/
  max-width: 80%;
  margin: 5px auto;
}

.content .sidebar .widget .data ul {
  text-align: right;
}

.content .sidebar .widget .data ul li {
  padding-right: 5px 0;
}

.content .product {
  float: left;
  padding: 0 0 10px 0;
}

.content .product .product {
  width: 22%;
  height: 150px;
  margin-left: 3%;
  margin-top: 20px;
  float: right;
  text-align: center;
  background-color: skyblue;
}

.content .product .product img {
  max-width: 100%;
}

/*End Content*/
/*Start Footer*/
footer {
  min-height: 100px;
  background: navy;
}

footer .info {
  background: cyan;
  overflow: hidden;
}

footer .info .box {
  width: auto;
  float: right;
  margin-left: 1%;
}

footer .info ul {
  margin: 10px;
}

footer .info h3 {
  border-bottom: 2px solid cyan;
}

footer .copyright {
  background: skyblue;
  padding: 10px 0;
  color: lightcyan;
  text-align: center;
}
body {
  background-color: #CEF4F9;
  background-image: url("../images/2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 4000px;
}

.navbar {
  border-radius: 0;
  /* position: fixed; */
  /* float:top; */
}

/* Strat footer */
.footer {
  background-color: #00F;
  color: #FFF;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* End footer */
/* start main post */
.home-page .main-post {
  padding: 20px;
  background-color: #CEF4F9;
  border: 1px solid #00F;
  margin-bottom: 20px;
}

.home-page .main-post h3 {
  margin: 0 0 10px;
  font-weight: bold;
  color: #777;
  letter-spacing: -1px;
}

.home-page .main-post .post-author,
.home-page .main-post .post-date,
.home-page .main-post .post-comments {
  font-size: 12px;
}

.home-page .main-post img {
  display: block;
  margin: 10px 0 10px;
  height: 210px;
  width: 300px;
}

.home-page .main-post .post-content {
  line-height: 1.7;
  color: #333;
}

.home-page .main-post i {
  color: #999;
}

.home-page .post-pagination {
  margin: 0 auto 20px;
  overflow: hidden;
  text-align: center;
}

.home-page .post-pagination a,
.home-page .post-pagination span {
  padding: 10px 20px;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.home-page .post-pagination a:first-child,
.home-page .post-pagination span:first-child {
  float: left;
  margin-left: 15px;
}

.home-page .post-pagination a:last-child,
.home-page .post-pagination span:last-child {
  float: right;
  margin-right: 15px;
}

.home-page .post-pagination span {
  opacity: .5;
  cursor: not-allowed;
}

.home-page .post-pagination .fa-chevron-left {
  margin-right: 10px;
}

.home-page .post-pagination .fa-chevron-right {
  margin-right: 10px;
}

.home-page .post-pagination a:hover {
  background-color: #333;
  color: #FFF;
  text-decoration: none;
}

/* End main posts */
/**************************************/
/* Start single posts */
.post-page .single-post {
  position: relative;
  padding: 20px;
  background-color: #CEF4F9;
  border: 1px solid #00F;
  margin-bottom: 10px;
}

.post-page .single-post .post-edit-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #EEE;
  border-radius: 0 0 0 10px;
}

.post-page .single-post .post-edit-link i {
  color: #337ab7;
  margin-left: 5px;
}

.post-page .main-post h3 {
  margin: 0 0 10px;
  font-weight: bold;
  color: #777;
  letter-spacing: -1px;
}

.post-page .main-post .post-author,
.post-page .main-post .post-date,
.post-page .main-post .post-comments {
  font-size: 13px;
}

.post-page .main-post img {
  display: block;
  margin: 10px 0 10px;
  height: 213px;
  width: 300px;
}

.post-page .main-post .post-content {
  line-height: 1.8;
  color: #333;
}

.post-page .main-post i {
  color: #999;
}

.post-page .post-pagination {
  margin: 0 auto 20px;
  overflow: hidden;
  text-align: center;
}

.post-page .post-pagination a,
.post-page .post-pagination span {
  padding: 10px 20px;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.post-page .post-pagination a:first-child,
.post-page .post-pagination span:first-child {
  float: left;
}

.post-page .post-pagination a:last-child,
.post-page .post-pagination span:last-child {
  float: right;
}

.post-page .post-pagination span {
  opacity: .5;
  cursor: not-allowed;
}

.post-page .post-pagination .fa-chevron-right {
  margin-left: 10px;
}

.post-page .post-pagination .fa-chevron-left {
  margin-left: 10px;
}

.post-page .post-pagination a:hover {
  background-color: #333;
  color: #FFF;
  text-decoration: none;
}

.home-page .comment-separator {
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 4px dashed #dcdcdc;
}

/* End single posts */
/* Start author informations */
.author-info h4 {
  margin: 12px 0 10px 0;
  font-weight: bold;
  color: #676767;
  font-size: 26px;
}

.author-info h4 .nickname {
  color: #f00;
}

.author-info p {
  font-size: 17px;
  line-height: 1.5;
  color: #777;
}

/* End author informations */
/* Start comment list */
.comments-list ul,
.comments-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comments-count {
  /* padding: 20px; */
  background-color: #e2e2e2;
  font-size: 20px;
  margin-top: 0;
  font-weight: bold;
  color: #909090;
  border: 1px solid #dedede;
}

.comments-list .comment img {
  padding: 3px;
  border: 1px solid #CCC;
  background-color: #fff;
  margin-bottom: 5px;
  margin-right: 5px;
}

.comments-list .comment .comment-meta {
  font-size: 12px;
  color: #777;
}

.comments-list .comment p {
  margin-top: 8px;
  color: #6f6f6f;
}

.comments-list .comment .says {
  display: none;
}

.comments-list > .comment {
  background-color: #FFF;
  padding: 10px;
  border: 1px solid #DDD;
  margin-bottom: 15px;
}

.comments-list > .comment > .children > .comment {
  background-color: #EEE;
  padding: 10px;
  border: 1px solid #CCC;
  margin-top: 10px;
}

.comments-list > .comment > .children > .comment .comment {
  background-color: #ececec;
  padding: 10px;
  border: 1px solid #cecece;
  margin-top: 10px;
}

.comment-respond .comment-reply-title {
  font-weight: bold;
  color: #9a9a9a;
  text-align: center;
  background-color: #c3c3c3;
  /* padding: 15px; */
}

.comment-respond .comment-reply-title form {
  background-color: #e3e3e3;
  padding: 15px;
}

.comment-respond .logged-in-as {
  margin: 0 5px 10px;
}

.comment-respond label {
  display: block;
  color: #888;
  margin: 0 0 10px 6px;
}

.comment-respond input[type="text"],
.comment-respond textarea {
  height: 40px;
  width: 500px;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.comment-respond textarea {
  height: 200px;
  resize: none;
}

.comment-respond input[type="text"] {
  margin-top: 6px;
}

/* End comment list */
/* start author-page */
.author-page .profile-header {
  font-size: 60px;
  margin: 30px 0;
  color: #666;
  font-weight: bold;
  letter-spacing: -3px;
}

.author-page .author-main-info {
  background-color: #FFF;
  padding: 40px 20px;
  font-size: 18px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
}

.author-page .author-main-info .author-names {
  line-height: 1.5;
  color: #666;
  margin-top: 10px;
}

.author-page .author-main-info .author-names span {
  display: inline-block;
  min-height: 60px;
  /* min-height: 120px; */
}

.author-page .author-main-info hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.author-page .author-main-info p {
  color: #777;
  line-height: 1.5;
  letter-spacing: 1px;
}

.author-page .author-stats .stats {
  background-color: #FFF;
  padding: 20px;
  font-size: 14px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
  text-align: center;
}

.author-page .author-stats .stats span {
  display: block;
  font-size: 50PX;
  margin-top: 10PX;
}

.author-page .author-posts-title {
  margin: 0 0 20px;
  background-color: #FFF;
  padding: 20px 30px;
  font-weight: bold;
  color: #717171;
}

.author-page .author-posts {
  padding: 20px;
  background-color: #FFF;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
}

.author-page .author-posts img {
  width: 160px;
}

.author-page .author-posts h3 {
  margin: 10px 0 5px;
  font-weight: bold;
}

.author-page .author-posts .post-date,
.author-page .author-posts .post-comments {
  font-size: 12px;
  color: #888;
}

/* End author-page */
/*# sourceMappingURL=mainrdy.css.map */